<main id="main">
  <!-- theme -->
  <label class="switch">
    <input type="checkbox" (change)="setDarkMode()">
    <span class="slider"></span>
  </label>

  <!-- navbar and dashboard -->
  <div class="sec">
    <div>
      <div class="d-flex flex-column justify-content-between">
        <a (click)="openCreateTodo()"><span class="material-symbols-outlined">menu</span></a>
      </div>

      <app-side-nav [isOpen]="isOpen" (closeSideNav)="closeForm($event)"></app-side-nav>
    </div>

    <div [ngStyle]="{'margin-left': isOpen && innerWidth > 768 ? '200px' : '0px'}">
      <app-dashboard></app-dashboard>
    </div>
  </div>
</main>