<section class="dashboard" [ngStyle]="{'margin-right': isOpen && innerWidth > 768 ? '500px' : '0px'}">
    <div class="dashboard-detail">
        <div class="d-flex flex-column justify-content-between">
            <p class="logo-name mb-3">TASKS LIST</p>
            <a class="create-task-sec mb-3" (click)="openCreateTodo()">
                <span class="material-symbols-outlined text-dark">add</span>
                <span class="title text-dark" title="create task">add new task</span>
            </a>
        </div>

        <div class="todo-list">
            @for (item of todoList; track $index) {

            <!-- card section -->
            <div
                class="card"
                [style.border]="item.status == 'completed' ? '1px solid #66D9E8' : item.status == 'inprogress' ? '1px solid #FFD43B' : '1px solid #FF6B6B'">
                <a class="dot-sec">
                    <p class="dot me-1"
                        [style.background-color]="item.status == 'completed' ? '#66D9E8' : item.status == 'inprogress' ? '#FFD43B' : '#FF6B6B'">
                    </p>
                    <span class="title" style="font-size: 14px; color: #000;">{{item.status}}</span>
                </a>

                <div class="card-details">
                    <p class="text-title">{{item.title}}</p>
                    <p class="text-body">Here are the details of the card</p>
                    <p class="text-center fw-bold text-danger">Due in&nbsp;{{getDueDays(item.date)}}&nbsp; days</p>
                </div>

                <div class="card-button">
                    <a (click)="getCurrent(item)"><span class="material-symbols-outlined me-1"
                            title="edit">edit</span></a>
                    <a (click)="deleteCurrent(item)"><span class="material-symbols-outlined"
                            title="delete">delete</span></a>
                </div>
            </div>
            }
            <div class="card">
                <a class="card-details" (click)="openCreateTodo()" title="create task">
                    <p class="text-title" style="font-size: 48px;">+</p>
                </a>
            </div>
        </div>
    </div>
</section>


<!-- create todo form -->
<app-create-todo [todo]="currentTodo" [isOpen]="isOpen" (closeForm)="closeForm($event)"></app-create-todo>