/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #EDEDED !important;
}

p {
    margin: 0 !important;
}

a {
    cursor: pointer !important;
    text-decoration: none !important;
}

.title {
    font-weight: 500 !important;
    text-transform: capitalize !important;
}

.dark-theme {
  background-color: #121212 !important;
  color: #ffffff !important;
}